// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import url('https://fonts.cdnfonts.com/css/libel-suit');
// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Lora&family=Mulish:ital,wght@0,600;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@font-face {
    font-family: 'Discognate';
    src: url('./font/discognate/discol.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    //font-family: 'Libel Suit', sans-serif;
    font-family: 'Open Sans';
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    scroll-behavior: smooth;
}

button:focus {
    box-shadow: none !important;
}

h1 {
    font-family: 'Open Sans';
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 32px !important;
    line-height: 40px !important;
    letter-spacing: 0.1px !important;
    color: #373F41 !important;
}

p {
    font-size: 15px !important;
    line-height: 1.8 !important;
    color: #767676 !important;
    font-weight: 600 !important;
    text-align: justify;
}

.overlay {
    background-color: rgb(0 0 0 / 50%);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.top-5 {
    top: 5px;
}

.right-10 {
    right: 10px;
}

.z-10{
    z-index: 10;
}
.fs-40{
    font-size: 40px !important;
}
.fs-50 {
    font-size: 50px !important;
    font-weight: 500;
    line-height: normal !important;
}
.fs-96 {
    font-size: 70px !important;
    line-height: normal !important;
}

.black{
    color: #000C20 !important;
}

.whatsapp{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 30;
}
.whatsapp a{
    display: inline-block;
    border-radius: 8px;
    background-color: #25D366;
    color: #fff;
    text-decoration: none;
    font-family: sans-serif;
    box-shadow: 0 0 30px 2px rgba(0,0,0,0.3);
}
.whatsapp a i{
    font-size: 30px;
    padding:10px 15px;
}

.hide-vr{
    display: none;
}

.gap-5{
    gap: 10px;
}

.font-discognate{
    font-family: Discognate;
}



/*
*--------------------------------
* Header-nav
*--------------------------------
*/
#header {
    height: 100vh;
}

.navbar-fixed-top {
    top: 0 !important;
    transition: all .5s ease-in-out;
}

.teeth-fixed-top {
    top: -40px !important;
    transition: all .5s ease-in-out;
}

.navbar-dark button.navbar-toggler:focus {
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
}

#header .header-nav {
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;
    z-index: 1000 !important;
    background-color: #000C20;
    transition: all .5s ease-in-out;
}

#header .navbar-brand img {
    width: 180.03px !important;
    height: 57.7px !important;
}

#header .navbar .nav-item {
    margin-left: 30px !important;
    transition: all .5s ease;
}

#header .navbar .nav-item:hover .nav-link {
    color: #0DA6DB !important;
    transition: all .5s ease;
}

#header .navbar .nav-item .nav-link {
    font-family: 'Libel Suit';
    font-size: 20px;
    line-height: 29px;
    color: #FFFDFD !important;
}
#header .navbar .nav-item .nav-active {
    color: #0DA6DB !important;
}

#header .header-nav .dropdown-menu {
    top: 145%;
}

/*
*--------------------------------
* Slider
*--------------------------------
*/
.nav-slider {
    height: 100%;
}

.nav-slider .slider-wrap {
    height: 100%;
}

.nav-slider .slider-wrap {
    height: 100%;
}

.slick-list {
    height: 100% !important;
}

.slick-track {
    height: 100% !important;
}

.nav-slider .slider-wrap img {
    width: 100%;
    height: 100%;

}

ul.slick-dots {
    list-style: none;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 60px;
}

ul.slick-dots li {
    margin: 10px;
}

ul.slick-dots li button {
    border: none !important;
    border-radius: 50% !important;
    height: 14px !important;
    width: 14px !important;
    font-size: 0 !important;
    background: #434D59 !important;
}

ul.slick-dots li.slick-active button {
    transform: scale(1);
    background: #868b91 !important;
}

.teeth {
    position: fixed;
    top: 0;
    left: auto;
    padding: 0 1rem;
    z-index: 100;
    transition: all .5s ease-in-out;
}

/*
*--------------------------------
* Main
*--------------------------------
*/
.middle-section {
    height: 100%;
    width: 100%;
}

.mdl-sec-bg {
    background-image: url('/assets/images/home/mdl-section-bg.png');
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.section-content ul li {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.3px;
    color: #737B7D;
    display: flex;
    align-items: center;
}

.section-content ul li img {
    margin-right: 10px;
}

.quote {
    margin-left: 15%;
    height: 200px;
    align-items: center;
    display: grid;
    margin-top: 50px;
}

.quote::before {
    content: "\f10d";
    font-family: 'Font Awesome 5 Pro';
    position: absolute;
    top: 0;
    left: 20px;
    font-size: 50px;
    color: #0C95D3;
    font-weight: 600;
}

/*
*---------------------------
*Features
*---------------------------
*/
.project {
    padding: 100px 0;
}

.project h1 {
    margin-bottom: 60px;
}

.project .card {
    margin-bottom: 10px;
}

.project .card .card-header {
    height: 280px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.project .card .card-img-top {
    height: 100%;
    width: 100%;
    transition: all 0.5s;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
}

.project .card:hover .card-img-top {
    transform: scale(1.2);
}

.project .card .card-body p {
    //font-family: 'Libel Suit';
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #373F41;
    margin: 5px 0px;
    word-spacing: 2px;
}

.project .card .card-body span {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #373F41;
}

.project .more button {
    background: #3C64B1;
    //font-family: 'Libel Suit';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.3px;
    color: #FFFFFF;
}

.project .more button:hover {
    background-color: #3f6fcc;
    transition: all .5s;
}

/*
*---------------------------------
*Happy-client
*---------------------------------
*/
.happy-client {
    height: 100%;
    width: 100%;
    background-color: #fff;
    position: relative;
}

.happy-client .happy-bg {
    background-image: url('/assets/images/home/happy-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    min-height: 80vh;
    width: 100%;
    position: relative;
}

.happy-client .happy-bg .overlay {
    background-color: rgb(0 0 0 / 82%);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.happy-client .happy-bg .client-content h1 {
    //font-family: 'Libel Suit';
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #FFFFFF !important;
}

.happy-client .happy-bg .client-content .review {
    width: 70%;
    margin: auto;
    position: relative;
}

.happy-client .happy-bg .client-content .review:before {
    content: "\F10E";
    font-family: "Font Awesome 5 Pro";
    position: absolute;
    top: 15px;
    left: 0;
    font-size: 40px;
    color: #0C95D3;
    font-weight: 600;
    right: 0;
}

.happy-client .happy-bg .client-content .review .single-review {
    margin-top: 100px;
    outline: none !important;
}

.happy-client .happy-bg .client-content .review .single-review h3 {
    //font-family: 'Libel Suit';
    font-size: 20px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.005em;
    color: #0C95D3;
    margin-top: 40px;
}

.happy-client .happy-bg .client-content .review .single-review p {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.3px;
    color: #FFFFFF;
    text-align: left !important;
    overflow: hidden;
}

.happy-client .happy-bg .client-content .review .single-review span {
    //font-family: 'Libel Suit';
    font-size: 20px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.005em;
    color: #fff;
}

button.slick-prev.slick-arrow,
button.slick-next.slick-arrow {
    font-size: 0px;
    color: #fff;
    font-variant: none;
    text-transform: none;
    line-height: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-size: cover;
    background: transparent no-repeat center;
    height: 30px;
    width: 16px;
    border: none;
}

button.slick-prev.slick-arrow {
    left: -100px;
    background-image: url('/assets/images/home/left.svg');
}

button.slick-next.slick-arrow {
    right: -100px;
    background-image: url('/assets/images/home/right.svg');
}

button.slick-prev.slick-arrow:focus {
    border: 0 !important;
    outline: none !important;
}

button.slick-next.slick-arrow:focus {
    border: 0 !important;
    outline: none !important;
}

/*
*---------------------------------
*Our-clients
*---------------------------------
*/
.our-clients .clients.slick-initialized.slick-slider {
    height: 100%;
    width: 100%;
}

.our-clients .clients-logo {
    margin: auto !important;
    text-align: center !important;
    justify-content: center !important;
    display: flex !important;
    align-items: center !important;
    height: 200px !important;
    outline: none !important;
}

.our-clients ul.slick-dots li button {
    transform: scale(1);
    background: rgba(134, 134, 134, 0.5) !important;
    height: 11.5px !important;
    width: 11.5px !important;
}

.our-clients ul.slick-dots li.slick-active button {
    background: #0C95D3 !important;
    height: 15.33px !important;
    width: 15.33px !important;
}

/*
*---------------------------------
*Footer
*---------------------------------
*/
.footer-bg {
    height: 100%;
    width: 100%;
    background: #000C20;
    padding: 50px 0 0 0;
    color: #fff;
}

//.footer-bg .company {
//    padding: 0 10px;
//}

.footer-bg .company img {
    width: 100%;
}

.footer-bg .services,
.footer-bg .contact,
.footer-bg .social {
    margin-top: 78px;
}

.footer-bg .services h4,
.footer-bg .contact h4,
.footer-bg .social h4 {
    //font-family: 'Libel Suit';
    font-size: 21px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.footer-bg .company p {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.3px;
    color: #868686;
}

.footer-bg .services ul li a,
.footer-bg .contact ul li,
.footer-bg .social ul li {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #868686;
}


/*
*---------------------------------
*about-page
*---------------------------------
*/
.about-nav-slider {
    height: 70vh;
    width: 100%;
}

.about-slider-wrap {
    width: 100%;
    height: 100%;
}

.about-slider-wrap img {
    width: 100%;
    height: 100%;
}

.about-us {
    background-color: #fff;
}

.about-us .we-are h1,
.about-us .mission h1,
.about-us .vission h1 {
    //font-family: 'Libel Suit';
    font-size: 38px;
    line-height: 40px;
    letter-spacing: 0.1px;
    color: #373F41;
    margin-bottom: 35px;
}

.about-us .we-are p,
.about-us .mission p,
.about-us .vission p {
    //font-family: Lora;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.3px;
    color: #737B7D;
    margin-bottom: 15px;
}

.about-us .we-are ol {
    list-style: upper-roman;
    margin-left: 30px;
}

.about-us .we-are li {
    //font-family: Lora;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.3px;
    color: #737B7D;
}


/*
*---------------------------------
*Who-we-are-page
*---------------------------------
*/
.who-nav-slider {
    height: 70vh;
    width: 100%;
    margin-top: 220px;
}

.who-slider-wrap {
    width: 100%;
    height: 100%;
}

.who-slider-wrap img {
    width: 100%;
    height: 100%;
}

.who-we-are {
    background-color: #fff;
}

.who-we-are .we-are h1,
.who-we-are .mission h1,
.who-we-are .vission h1 {
    font-size: 35px;
    line-height: 35px;
    letter-spacing: 0.1px;
    color: #373F41;
    margin-bottom: 25px;
}

.who-we-are .we-are p,
.who-we-are .mission p,
.who-we-are .vission p {
    //font-family: Lora;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.3px;
    color: #737B7D;
    margin-bottom: 15px;
}

.who-we-are .we-are ol {
    list-style: upper-roman;
    margin-left: 30px;
}

.who-we-are .we-are li {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.3px;
    color: #737B7D;
}


/*
*---------------------------------
*Service-page
*---------------------------------
*/
.service {
    margin-top: 210px;
}

.service p {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.3px;
    color: #737B7D;
}

.service-item h1 {
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.1px;
    color: #373F41;
}

.service-item img{
    height: 100%;
    max-height: 440px;
}

.service-item p {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.3px;
    color: #737B7D;
}

.service-item button {
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.3px;
}

/*
*---------------------------------
*Team-page
*---------------------------------
*/
.team {
    margin-top: 210px;
}

.team .card {
    transition: all .5s;
}

.team .card:hover {
    transform: translateY(-20px);
    transition: all .5s ease-in-out;
}

.team .card-header{
    height: 300px;
}
.team .card-header img{
    height: 100%;
    object-position: top;
    object-fit: cover;
}

/*
*---------------------------------
*Portfolio-page
*---------------------------------
*/
.portfolio {
    margin-top: 210px;
}

.view-card {
    position: relative;
    height: 100%;
}

.view-card a.view-popup img {
    cursor: pointer;
    height: 160px;
    object-fit: cover;
    object-position: 50% 50%;
}

.view-card .threeD {
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 1;
    cursor: pointer;
}

.portfolio-wrap{
    background-image: url("/assets/images/gallery/gallery.png");
    height: 250px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.portfolio-wrap .nav-link {
    //font-family: 'Libel Suit';
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.3px;
    text-align: center;
    background-color: #000000b8;
}

.portfolio-wrap .nav-pills .nav-link.active {
    color: #fff;
    background-color: #032879b8;
}

.tab-left{
    width: 200px;
}

img.mfp-img {
    width: 80vw !important;
}

.mfp-arrow {
    transform: translateY(-50%) !important;
    margin-top: 0px !important;
}

.portfolio-gallery .gallery-img-big {
    height: 400px;
    min-width: 100% !important;
}

.portfolio-gallery .gallery-img {
    height: 200px;
    min-width: 100%;
}
.portfolio-gallery .video {
    height: 400px;
    min-width: 100%;
}

.portfolio-4 .img-box:nth-child(1) .gallery-img-big{
    height: 900px;
}
.portfolio-4 .img-box:nth-child(2) .gallery-img-big{
    height: 440px;
}
.portfolio-4 .img-box:nth-child(3) .gallery-img,
.portfolio-4 .img-box:nth-child(4) .gallery-img,
.portfolio-4 .img-box:nth-child(5) .gallery-img{
    height: 440px;
}

.portfolio-5 .img-box:nth-child(2) .gallery-img{
    height: 295px;
}

.portfolio-6 .img-box:nth-child(1) .gallery-img-big{
    height: 600px;
}

.portfolio-6 .img-box:nth-child(2) .gallery-img{
    height: 290px;
}

.portfolio-6 .img-box:nth-child(3) .gallery-img,
.portfolio-6 .img-box:nth-child(4) .gallery-img {
    height: 350px;
}
/*
*---------------------------------
*Contact-page
*---------------------------------
*/
.contact-wrap h4 {
    //font-family: 'Libel Suit';
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #373F41;
}

.contact-wrap .nav-item i {
    background: #0C95D3;
    font-size: 22px;
    color: #fff;
}

.contact-wrap .nav-item span{
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #373F41;
}

.border-10{
    border-radius: 15px;
    overflow: hidden;
}

.form textarea {
    border: 1px solid #2b7af0;
    height: 120px;
    resize: none;
    color: #373f41;
    font-size: 16px;
}

.map iframe{
    height: 450px;
    width: 100%;
    display: block;
}

.gallery-wrapper .custom-grid .col-sm-6.col-md-4 {
    width: 32.3% !important;
    max-width: 32.3% !important;
}

.fancybox-image, .fancybox-spaceball{
    width: auto !important;
    height: auto !important;
    max-height: 100% !important;
    max-width: 100% !important;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50% , -50%);
}

/*
*---------------------------------
*Responsive Design
*---------------------------------
*/

@media (max-width: 1199px) {
    .footer-bg .services,
    .footer-bg .contact,
    .footer-bg .social {
        margin-top: 65px;
    }
}


@media (max-width: 991px) {
    #header .navbar .nav-item {
        margin-left: 0px !important;
    }
    #header .navbar .nav-item .nav-link {
        font-size: 15px;
        line-height: 20px;
        text-align: center;
        margin-right: 5px;
    }
    .footer-bg .services,
    .footer-bg .contact,
    .footer-bg .social {
        margin-top: 45px;
    }
    #header .header-nav .dropdown-menu{
        text-align: center;
    }
}

@media (max-width: 767px) {
    #header .header-nav {
        top: 25px;
    }
    .happy-client .happy-bg {
        min-height: 90vh;
    }
    button.slick-next.slick-arrow {
        right: -60px;
    }
    button.slick-prev.slick-arrow {
        left: -60px;
    }

    .company img {
        max-height: 70px;
    }
}

@media (max-width: 480px) {
    #header {
        height: 45vh;
    }
    #header .header-nav {
        top: 25px;
    }
    #header .navbar-brand img {
        width: 110px !important;
        height: 40px !important;
    }
    .teeth img {
        height: 125px;
    }
    .nav-slider {
        height: 45vh;
    }
    //.nav-slider .slider-wrap {
    //    height: 80%;
    //}
    ul.slick-dots li button {
        height: 10px !important;
        width: 10px !important;
    }
    h1 {
        font-size: 20px !important;
    }
    p {
        font-size: 13px !important;
    }

    .fs-40{
        font-size: 30px !important;
    }

    .fs-96 {
        font-size: 25px !important;
        line-height: normal !important;
    }
    .section-content ul li {
        font-size: 15px;
        line-height: 25px;
    }
    .quote::before {
        font-size: 40px;
    }
    .quote {
        height: 100px;
    }
    .project {
        padding: 60px 0;
    }
    button.slick-next.slick-arrow {
        right: -50px;
    }
    button.slick-prev.slick-arrow {
        left: -50px;
    }
    .our-clients ul.slick-dots li button {
        height: 8.5px !important;
        width: 8.5px !important;
    }
    .our-clients ul.slick-dots li.slick-active button {
        height: 10.33px !important;
        width: 10.33px !important;
    }


    // about
    .about-nav-slider {
        height: 300px;
    }
    .about-us .we-are li {
        font-size: 15px;
        line-height: 25px;
    }
    .who-nav-slider {
        height: 190px;
        margin-top: 140px;
    }

    .portfolio {
        margin-top: 130px;
    }
    .portfolio-gallery .gallery-img-big {
        height: 200px;
    }

    .portfolio-wrap{
        height: 120px;
    }

    .portfolio-wrap .nav-link{
        font-size: 20px;
        text-align: center;
        line-height: 30px;
    }

    .tab-left{
        width: 100%;
    }


    .portfolio-4 .img-box:nth-child(1) .gallery-img-big{
        height: 400px;
    }
    .portfolio-4 .img-box:nth-child(2) .gallery-img-big{
        height: 340px;
    }
    .portfolio-4 .img-box:nth-child(3) .gallery-img,
    .portfolio-4 .img-box:nth-child(4) .gallery-img,
    .portfolio-4 .img-box:nth-child(5) .gallery-img{
        height: 340px;
    }

    .portfolio-5 .img-box:nth-child(2) .gallery-img{
        height: 200px;
    }


    .portfolio-6 .img-box:nth-child(1) .gallery-img-big,
    .portfolio-6 .img-box:nth-child(2) .gallery-img,
    .portfolio-6 .img-box:nth-child(3) .gallery-img,
    .portfolio-6 .img-box:nth-child(4) .gallery-img {
        height: 200px !important;
    }

    // footer
    .footer-bg .company img{
        width: 180px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    ul.slick-dots{
        bottom: 45px;
    }

    .who-we-are .we-are h1,
    .who-we-are .mission h1,
    .who-we-are .vission h1 {
        //font-family: 'Libel Suit';
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 15px;
    }
    .our-clients .clients-logo{
        height: 110px !important;
    }
    .our-clients .clients-logo img{
        //height: 100% !important;
        width: 100px !important;
    }
    .our-clients .clients.slick-initialized.slick-slider {
        height: 160px !important;
    }
    .dropdown-toggle::after{
        display: none;
    }

    .dropdown-toggle::before{
        display: inline-block;
        margin-right: 0.255em;
        vertical-align: 0.255em;
        content: "";
        border-top: 0.3em solid;
        border-right: 0.3em solid transparent;
        border-bottom: 0;
        border-left: 0.3em solid transparent;
    }
    .service{
        margin-top: 150px;
    }
    .map iframe{
        height: 250px;
    }
    .whatsapp a i{
        font-size: 20px;
        padding:8px 10px;
    }
    .portfolio-gallery .video {
        height: 200px;
        min-width: 100%;
    }
    .gallery-wrapper .custom-grid .col-sm-6.col-md-4{
        width: 100% !important;
        max-width: 100% !important;
    }

}

@media (max-width: 320px) {

}


