
.order-cart a{
    color: #fff !important;
}
.user-profile-area .profile{
    margin: 50px auto;
}
.user-profile-area .profile img{
    display: block;
    margin: auto;
}
.user-profile-area .btn{
    display: block;
    margin: auto;
}
.form-check .form-check-label{
    margin-left: 0px !important;
}

.drpdn-status{
    padding-top: 0px !important;
    padding: 0px !important;
    margin: 0px !important;
}
.drpdn-status .btn{
    width: 100%;
    border: none;
}
.drpdn-status .drpdn-status-colr-pending{
    background-color: #fe7c96;
    color: #fff;
}
.drpdn-status .drpdn-status-colr-processing{
    background-color: #f8e57a;
    color: #fff;
}

.drpdn-status .drpdn-status-colr-deliverd{
    background-color: #41bd6a;
    color: #fff;
}

.all-order-table .form-check{
    margin-top: 0px !important;
    margin-left: 20px;
}
.form-con{
    margin-top: 80px;
}
.form-control-arrow-action .btn{
    height: 30px;
    padding: 5px;
}
.form-control-arrow-action i{
    font-size: 20px !important;
}
.form-control-arrow-action i:hover{
    color: green;
}
.apps-main-panel{
    width: 100%;
    height: 100vh;
}
.shop-copy-link-area .card .card-body{
    padding: 1rem 2.5rem !important;
}
.shop-copy-link-area h3{
    display: inline-block;
    margin-right: 10px;
}
.shop-copy-link-area .btn{
    margin-left: 10px;
    padding: 0.25rem 0.80rem !important;
}
.shop-owner-table .custom-select{
    width: 55px !important;
}





/* 
//responsiveness start */
@media (max-width: 1200px) { 
    .product-details-area h1{
        font-size: 1.5rem !important;
    }
    .content-wrapper{
        padding: 0.5rem 0.25rem !important;
    }
    .all-order-table .card .card-body{
        padding: 10px !important;
    }
    .all-order-table .card .card-body .row .btn{
        margin-bottom: 10px !important;
    }
    .all-order-table .card .card-body .row .dropdown-2{
        float: left !important;
    }
    
 }

@media (max-width: 767px) { 
    .product-details-area h1{
        margin-top:10px !important;
    }
    .all-order-table .full-area-btn .btn{
        width: 100% !important;
    }
    .all-order-table .card .table-area{
        padding: 20px 0px;
        overflow-x: scroll;
    }
    .shop-owner-table .table th, .table td{
        padding: 10px !important;
    }
    .shop-owner-table .table-area .col-sm-12{
        overflow-x: scroll;
    }
    .shop-owner-table .table-area .pagination{
        text-align: center;
        margin: auto !important;
        width: 150px;
        margin-top: 20px !important;
    }
 }
@media (max-width: 576px) {
    .all-order-table .pagination-area{
        padding: 0px !important;
    }
    .all-order-table .pagination-area .pagination{
        margin-top: 30px;
        float: left !important;
    }
    .fastfly-content-area{
        display: none;
    }
}

@media (max-width: 493px) { 
    .navbar-menu-wrapper{
        margin: auto;
    }
    .navbar-brand-wrapper{
        margin: auto;
    }
    .login-content-area{
        margin-top: 50px;
    }
 }

@media (max-width: 400px) { 
    .login-content-area .auth-form-light{
        padding: 15px !important;
    }
    .login-content-area .auth-form-light h6{
        text-align: center;
    }
    .content-wrapper{
        padding: 0.75rem 0.25rem !important;
    }
    .product-details-area h3, h4{
        text-align:center;
    }
    .user-profile-area .card{
        padding: 0px !important;
    }
    .user-profile-area{
        width: 425px;
        overflow-x: scroll;
    }
 }

 @media (max-height: 800px) {
    .frontend-order-area{
        padding: 20px !important;
    }
    .frontend-order-area .form-group {
        margin-bottom: 0px !important;
    }
    .frontend-order-area .form-group label{
        padding-bottom: 0px !important;
    }
    .frontend-order-area .form-group input{
        padding: 10px !important;
    }
 }
 @media (max-height: 600px) {
    
    .frontend-order-area form{
        padding-top: 0px !important;
    }
    .frontend-order-area .form-group input{
        height: 40px !important;
        padding: 5px !important;
    }
 }