.modal{
    top: 300px !important;
}
.order-cart a{
    color: #fff !important;
}
.user-profile-area .profile{
    margin: 50px auto;
}
.user-profile-area .profile img{
    display: block;
    margin: auto;
}
.user-profile-area .btn{
    display: block;
    margin: auto;
}

.order-table-area .form-check-input{
    margin-left: 5px !important;
}
.drpdn-status{
    padding: 0px !important;
    margin: 0px !important;
}
.drpdn-status .btn{
    width: 100%;
    border: none;
}
.all-order-table .form-check{
    margin-top: 0px !important;
}











@media (max-width: 1200px) { 
    .product-details-area h1{
        font-size: 1.5rem !important;
    }
    .content-wrapper{
        padding: 0.5rem 0.25rem !important;
    }
    .all-order-table .card .card-body{
        padding: 10px !important;
    }
    .all-order-table .card .card-body .row .btn{
        margin-bottom: 10px !important;
    }
    .all-order-table .card .card-body .row .dropdown-2{
        float: left !important;
    }
    
 }

@media (max-width: 767px) { 
    .product-details-area h1{
        margin-top:10px !important;
    }
    .all-order-table .card .table-area{
        padding: 20px 0px;
        overflow-x: scroll;
    }
 }
@media (max-width: 400px) { 
    .content-wrapper{
        padding: 0.75rem 0.25rem !important;
    }
    .product-details-area h3, h4{
        text-align:center;
    }
    .user-profile-area .card{
        padding: 0px !important;
    }
    .user-profile-area{
        width: 425px;
        overflow-x: scroll;
    }
 }